{{define "layout"}}
<!DOCTYPE html>
<html lang="en">

    <head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>{{template "title" .}}</title>
	    <link rel="icon" href="/static/imgs/favicon.ico" type="image/x-icon" />
	    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
	    <link rel="stylesheet" href="/static/css/fontawesome.all.min.css">
	    <link rel="stylesheet" href="/static/css/filepond.css" />
	    <link rel="stylesheet" href="/static/css/filepond-plugin-image-preview.css">
	    <link rel="stylesheet" href="/static/css/site.css">
        <link href="/static/css/animate.min.css" rel="stylesheet"/>
	    {{block "css" .}}{{end}}
    </head>

    <body>
	    <nav class="navbar navbar-expand-lg navbar-light bg-light">
		    <div class="container-fluid">
			    <a class="navbar-brand" href="/">
				    <img alt="" src="/static/imgs/brand.png" width="30" height="30" />
			    </a>
			    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon"></span>
			    </button>
			    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- <div class="navbar-nav">
                         <div class="nav-item dropdown">
                         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
                         图片<i class="fa fa-exchange-alt"></i>PDF
                         </a>
                         <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						 <a class="nav-link" href="/img2pdf">图片转PDF</a>
						 <a class="nav-link" href="/pdf2img">PDF转图片</a>
						 <a class="nav-link" href="/pdf2img">PDF转图片</a>
                         </div>
                         </div>
						 <a class="nav-link" href="/mergepdf">合并PDF</a>
						 <a class="nav-link" href="/splitpdf">拆分PDF</a>
						 <a class="nav-link" href="/rotatepdf">旋转PDF</a>
                         </div> -->
                    
				    <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
					    <li class="nav-item">
						    <a class="nav-link" href="/img2pdf">图片转PDF</a>
					    </li>
					    <li class="nav-item">
						    <a class="nav-link" href="/pdf2img">PDF转图片</a>
					    </li>
					    <li class="nav-item">
						    <a class="nav-link" href="/mergepdf">合并PDF</a>
					    </li>
					    <li class="nav-item">
						    <a class="nav-link" href="/splitpdf">拆分PDF</a>
					    </li>
						<li class="nav-item">
						    <a class="nav-link" href="/rotatepdf">旋转PDF</a>
					    </li>
			        </ul> 
			    </div>
		    </div>
	    </nav>
	    {{template "body" .}}

	    <script src="/static/js/jquery.js"></script>
	    <script src="/static/js/bootstrap.min.js"></script>
	    <script src="/static/js/filepond.js"></script>
        <script src="/static/js/bootstrap-notify.min.js"></script>
        <script src="/static/js/site.js"></script>
	    {{block "script" .}}{{end}}
    </body>

</html>
{{end}}
