{{template "layout" .}}
{{define "title"}}{{.Title}}{{end}}
{{define "css"}}
<link href="/static/css/filepond-plugin-media-preview.min.css" rel="stylesheet"/>
{{end}}
{{define "body"}}
<div class="container">
	<h3 class="mt-2">{{.Header}}</h3>
	<input name="filepond" type="file" multiple />
    <button id="merge" class="btn btn-primary">Merge</button>
</div>
{{end}}

{{define "script"}}
<script src="/static/js/filepond-plugin-file-validate-type.min.js"></script>
<script src="/static/js/filepond-plugin-media-preview.min.js"></script>
<!-- <script src="/static/js/pdf.js"></script>
     <script src="/static/js/pdf.worker.js"></script> -->
<script src="/static/js/page/mergepdf.js"></script>
{{end}}
